*{
    margin: 0;
    padding: 0;  
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: poppins;
}
/* NAV BAR */
nav{
    overflow-x: hidden;
    background: #000000;
    height: 80px;
    width: 100%;

  }
  label.logo{
    color: #bf0a30;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  a.active,a:hover{
    background: #bf0a30;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #000000;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 0.1px;
      text-decoration: none;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #bf0a30;
    }
    #check:checked ~ ul{
      left: 0;
    }
  
  nav {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  @media (max-width: 2560px){
    label.logo{
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 2560px){
    .checkbtn{
      display: block;
    }
}

/* BANNER-AREA */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
    color: #000000;
}

section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-area{
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

.banner-area .banner-img{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(img/church.4.jpg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    z-index: -1;
}

.banner-area .banner-img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
}

.banner-area h1 {
    margin-bottom: 15px;
    font-size: 65px;
    text-transform: uppercase;
    color: #bf0a30;
}

.banner-area h3{
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: -20%;
}

@media screen and  (max-width:1000px){
    section{
        padding: 100px 50px;
    }
}

@media screen and  (max-width:600px){
    section{
        padding: 152px 30px;
    }
}

@media screen and  (max-width: 800px){
    .banner-area{
        min-height: 600px;
    }
    .banner-area h1 {
        font-size: 27px;
    }
    .banner-area h3{
        font-size: 20px;
    }
}

/* ABOUT AREA */

ul.about-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-content li{
    padding: 20px;
    height: 500px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.about-left{
    flex-basis: 30%;
    background-image: url(img/church.2.jpg);
}

.about-rigth{
    flex-basis: 70%;
}

.about-rigth h2 {
    font-size: 35px;
    margin-bottom: 3%;
}

.about-area p{
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
}

.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

.section-title span{
    color: #bf0a30;
}

.about-btn{
    padding: 15px 35px;
    background: #bf0a30;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
}

@media screen and  (max-width: 1000px) {
    .section-title{
        font-size: 35px;
    }
    .about-left,
    .about-rigth{
        flex-basis: 100%;
    }
    .about-content li{
        padding: 8px;
    }
}

@media screen and  (max-width: 700px) {
    .about-rigth p{
       display: none;
    }
}

/* msg */

.msg-area{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/church.5.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
}

/* SERVICE AREA */
.title{
    margin-top: -100px;
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 5%;
    color: #000000;
}

.title span{
    color: #bf0a30;}

ul.services-content{
    width: 80%;
    display: contents;
    flex-wrap: wrap;
    justify-content: center;
    color: #000000;
}


.services-content li{
    padding: 0 0;
    text-align: center;
    background-color: #ffffff;
}



.services-content img{
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.services-content li h4{
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

.services-content li p {
    margin-top: -4%;

}

@media screen and  (max-width:700px) {
    .services-content li{
        flex-basis: 100%;
        margin-bottom: 35px;
    }
    .services-content li:last-child{
        margin-bottom: 0;
    }
    .services-content li p {
        padding: 0;
    }
}


/* PRAYER FORM */
.form-content{
    margin-top: 150px;
}

label{
    font-size: 25px;
    }
.textbox{
    font-size: 17px;
    }
    /*highlights the active box*/
input[type=text]:focus {
        border: 3px solid #555;
      }
      /*this edits the box where the user will their message*/
textarea{
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
        font-size: 20px;
      }
      /*css for the submit button*/
button[type=submit] {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
}

/* CONTACT */

ul.contact-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-content{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
    min-height: 245px;
    max-height: 245px;
}

.contact-content li i {
    font-size: 50px;
    color: #bf0a30;
    margin-bottom: 25px;
}

.contact-content li p{
    margin: 0;
}

@media screen and  (max-width: 1024px) {
    .contact-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    .contact-content li:last-child{
        margin-bottom: 0;
    }
    .contact-content li p{
        padding: 0;
    }
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding: 60px 0 ;
}